.content {
  display: inline-block;
  width: 100%;
  padding: 0 2rem;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-block: 2rem;
  row-gap: 2rem;
  column-gap: 1.2rem;
}

.content hr {
  background-color: #c9c7c7;
  border: none;
  height: 1px;
}
