.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background: #363636;
  padding: 0 2rem;
  z-index: 1030;
}

.header h1 {
  color: white;
}

.header__anchor_wrapper {
  margin-top: 1rem;
}

.header__anchor {
  background-color: unset;
  outline: unset;
  border: 1px solid white;
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 1.5rem;
  transition: 0.25s ease;
  cursor: pointer;
  white-space: nowrap;
  font-size: 1rem;
  text-align: start;
}

.header__anchor:hover {
  background-color: white;
  color: black;
}
